{{! This is the post loop - each post will be output using this markup }}
<footer class="blog-footer">
<a href="https://twitter.com/jaredharley"><i class="fa fa-twitter"></i> Follow me on Twitter</a>
</footer>