/* Makes all img tags responsive */
img {
	display: block;
	max-width: 100%;
	height: auto;
}

body {
}

/* Blog header div */
.blog-header {
	color: black;
}

.blog-header a,a:hover {
	color: black;
	text-decoration: none;
}

.blog-logo {
	color: darkred;
}