/* Makes all img tags responsive */
img {
	display: block;
	max-width: 100%;
	height: auto;
}

body {
	font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Blog header div */
.blog-header {
	color: black;
	background-color: #C9C9C9;
	box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1) inset;
}

a {
	color: black;
}

a:hover {
	color: #b23a20;
	text-decoration: none;
}

.post-content {
	padding-top: 1em;
	font-size: 16px;
	line-height: 1.5em;
}

.post-content a {
	color: #2097b2;
}

.post-content a:hover {
	text-decoration: none;
	/*color: #3097b2;*/
	color: #b23a20;
}

.post-content p {
	padding-bottom: 10px;
}

.post-content hr {
	width: 80%;
}

.post-title {
	margin-bottom: .2em;
}

.post-subhead a {
	color: #bbb;
}

.post-subhead a:hover {
	color: #b23a20;
}

.post-subhead {
	color: #bbbbbb;
	border-bottom: 1px dotted #eeeeee;
	border-top: 1px dotted #eeeeee;
	padding: 10px 0 10px 0;
}

.blog-logo {
	color: #b23a20;
}

.blog-footer {
	margin-top: 5em;
	padding: 20px 0px 10px 0px;
	color: #999;
	text-align: center;
	background-color: #F9F9F9;
	border-top: 1px solid #E5E5E5;
}

.blog-post {
	border-bottom: 1px solid #EEEEEE;
	margin-bottom: 2.2em;
	padding-bottom: 2em;
}

.sidebar-module {
	background-color: #c3ffc3;
}

/* Bootstrap overrides */
code {
	border-radius: 0;
	font-family: "Source Code Pro",Monaco,Consolas,"Courier New",Courier,monospace;
}

a>code {
	font-weight: bold;
}

a:hover>code{
	text-decoration: underline;
}

pre {
	border-radius: 0;
	background-color: #1D1F21;
	color: #C5C8C6;
	border: 0;
}

/* Prism overrides */
pre[class*="language-"] {
	border-radius: 0;

}

code[class*="language-"],
pre[class*="language-"] {
	font-family: "Source Code Pro",Monaco,Consolas,"Courier New",Courier,monospace;
	border: 0;
	text-shadow: none;
}

::-moz-selection
{
    text-shadow: none;
    background-color: rgba(177, 214, 255, 0.8);
    color: #333333;
}

::selection {
    text-shadow: none;
    background-color: rgba(177, 214, 255, 0.8);
    color: #333333;
}